body{
     color:rgb(29, 20, 20);
    background: rgb(25, 175, 75);
}


header{
    border-bottom: solid 2px white;
     padding:20px;

body(
      color:green
      background:bleck
      margin: 0px;
    }